form {
    display: inline-block;
}
h2 {
    font-family:arial;
}
ul{
	list-style-type: none;
}

#button{
	padding:0.5em;
    display: inline-block;
    height:20px;
	width:70px;
	background-color:#2C6F49;
	font-family:arial;
	font-weight:bold;
	color:#FFFFFF;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}
#instructions{
	text-align: left;
	background-color: #7DAAD5;
	width:400px;
	padding-left: 5px;
}
#instructions:hover{
	cursor:move;
}

.list {
	position:static;
	font-family:garamond;
	color:#372B2B;
	background-color: #D1B7B7;
	width:300px;
	border-radius: 12px;
	text-align: left;
}

.list:hover{
	cursor:move;
}
fieldset{
	width:400px;
}